.profile{

    &-background{
        height: 300px;
        width: 100%;
    }
&-photo{
    border-radius: 50%;
    position: relative;
    margin-top: -100px;
    margin-left: 38px;
    height: 180px;
}

&-edit{
    padding: 15px 80px;
    border-radius: 33px;
    border: none;
    margin-left: 41%;
    display: flow;
    margin-top: -64px;
    text-align: center;
    width: 42%;
}
}

.edit{
    &-name, &-bio{
        border: none;
        outline: none;
        border-bottom: 1px solid grey;
    }
    &-cancel{
        position: absolute;
        margin-top: 10px;
        color: #fff;
        font-size: 34px;
        font-weight: bold;
    }
}

@media only screen and (max-device-width: 425px) {
    .profile{

        &-background{
            height: 170px;
        }

        &-photo{
            border-radius: 50%;
            position: relative;
            margin-top: -63px;
            margin-left: 16px;
            height: 120px;
        }

        &-edit{
            padding: 12px 68px;
            border-radius: 33px;
            border: none;
            margin-left: 37%;
            display: flow;
            margin-top: -51px;
            text-align: center;
            width: 55%;
        }
    }
}

